
.Result{
    text-align: center;
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ResultsCard{
    background-color: #c1c1c1;
    color: #121211;
    height: 400px;
    width: 350px;
    border-radius: 25px;
    border: 5px solid  #8A4D9E;
    text-align: left;
    position: relative;
}

.Image{
    background-color: blue;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    overflow: hidden;
}

.Image img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.Details{
    background-color: azure;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 0;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    position: absolute;
}

.Title{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 0.8em;
}

.SmallerFont{
    font-size: 0.7em;
}

.Center{
    margin: 0 auto;
}

.Loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c1c1c1;
    height: 400px;
    width: 350px;
    border-radius: 25px;
    border: 5px solid  #8A4D9E;
}