.Navbar{
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Logo{
    height: 120px;
    width: 100px;
    padding-left: 30px;
}

.Logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}