.FeatureCard{
    background-color: transparent;
    border: 2px solid #8A4D9E;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    height: 250px;
    flex: 1;
    width: 400px;
    box-sizing: border-box;
    margin-top: 20px;
}

.FeatureCard:hover{
    background-color: #8A4D9E;
    padding: 0px 20px;
}

.FeatureCard h3{
    padding-top: 20px;
    color: white;
    font-size: 1.5rem;
}

.FeatureCard p{
    font-size: 1.2rem;
}

.image{
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.image img{
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}
