.FeatureCard{
    background-color: #8A4D9E;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    height: 250px;
    flex: 1;
    width: 400px;
}

.FeatureCard h3{
    padding-top: 20px;
}

.image{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.image img{
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}